/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*FONTS*/
.open-sans-light {
    font-family: "Open Sans", system-ui; /* system-ui is the backup in case first font family doesn't work*/
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;/* <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 300 to 800 */
}

.montserrat-font {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* { /* This is for universal padding across the page*/
    margin: 4px;
    padding: 4px;
}

html {
   scroll-behavior: smooth; 
}

p {
    color: rgb(26, 160, 201);
}



/*----- TRANSITION-----*/
a, .btn {
    transition: all 300ms ease;
}

/*------------------------ DESKTOP NAVIGATION--------------------------*/

nav, .nav-links { /*Makes both nav and navlinks classes use flex*/
    display:flex;
}

nav { /*Targeting the navigation HTML element(body,head,nav etc.) directly*/
    justify-content:space-around;
    align-items:center;
    height:17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a { /*Styling the link element*/
    color:black;
    text-decoration:none;
    text-decoration-color:white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181); /* Change this color later*/
}

.logo {
    font-size: 2rem;
}
.logo:hover {
    cursor: default; /*To stop cursor changing over the title name*/
}

/*------------- HAMBURGER MENU-----------------*/
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span { /*Individual span lines for the hamburger menu*/
    width: 100%;             
    height: 2px;            
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px
}

/* Hamburger menu icon opening */
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px); /*Transforming the line*/
}
.hamburger-icon.open span:nth-child(2){
    opacity:0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px); /*Transforming the line*/
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}


/*-----------------------------SECTIONS----------------------------------*/

section { /* Styling for the section element in HTML*/
    padding-top: 4vh; /* Adds a space padding between top of page and first top section */
    height: 96vh; /* 96% view heigh so this is 100-4 padding-top */
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content; /*To ensure there is no overlap in content*/
}

.section-container {
    display: flex;
}


/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0; /*Auto at top, 0 on sides*/
}

.faded-image {
    width: auto;  /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 45%, rgba(0,0,0,0) 55%);
}


.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}
.btn-color-1, .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0,0,0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-continer {
    gap: 1rem;
}